export(network.fromIgraph)
export(multigraph.create)
export(netCoin)
export(edgeList)
export(coin)
export(print.coin)
S3method(print, coin)
export(lower)
export(sim)
export(distant)
export(dichotomize)
export(as.nodes)
export(asIgraph)
export(timeCoin)
export(cbarCoin)
export(barCoin)
export(expectedList)
importFrom(stats, as.dist, na.omit, phyper, pt)
importFrom(igraph, V, graph.empty, add.vertices, add.edges, get.edgelist, list.vertex.attributes, get.vertex.attribute, list.edge.attributes, get.edge.attribute)
importFrom(Matrix, Matrix, diag)
