export(network.fromIgraph)
export(network.all)
export(network.create)
export(multigraph.create)
export(multinet.create)
export(network.nodePie)
export(network.nodeImage)
export(network.addLayout)
export(network.addNodeAttr)
export(network.addLinkAttr)
export(network.addNodeFilter)
export(network.addLinkFilter)
export(network.start)
export(netCoin)
export(edgeList)
export(coin)
export(print.coin)
S3method(print, coin)
export(lower)
export(sim)
export(distant)
export(dichotomize)
export(as.nodes)
export(asIgraph)
export(timeCoin)
export(cbarCoin)
export(barCoin)
export(expectedList)
importFrom(stats, as.dist, na.omit, phyper, pt)
importFrom(igraph, V, graph.empty, add.vertices, add.edges, get.edgelist, list.vertex.attributes, get.vertex.attribute, list.edge.attributes, get.edge.attribute)
importFrom(Matrix, Matrix, diag)
