export(fromIgraph)
export(multigraphCreate)
export(surCoin)
export(allNet)
export(netCoin)
export(netCorr)
export(edgeList)
export(coin)
export(coocur)
S3method(print, coin)
S3method(print, cooc)
S3method(print, netCoin)
S3method(print, barCoin)
S3method(print, timeCoin)
S3method(plot, coin)
S3method(plot, netCoin)
S3method(plot, barCoin)
S3method(plot, timeCoin)
S3method(summary, coin)
S3method(summary, netCoin)
S3method(summary, barCoin)
S3method(summary, timeCoin)
export(lower)
export(sim)
export(distant)
export(dichotomize)
export(asNodes)
export(toIgraph)
export(timeCoin)
export(cbarCoin)
export(barCoin)
export(expectedList)
export(layoutCircle)
export(layoutGrid)
export(mobileEdges)
export(incTime)
export(pathCoin)
export(savePajek)
importFrom(graphics, plot)
importFrom(grDevices,hsv)
importFrom(utils, head, browseURL)
importFrom(stats, as.dist, na.omit, phyper, pt, cor, var, fisher.test, complete.cases, pnorm)
importFrom(igraph, graph.empty, V, add.vertices, vertex_attr, vertex_attr_names, list.vertex.attributes, get.vertex.attribute)
importFrom(igraph, add.edges, edge_attr_names, list.edge.attributes, get.edgelist, get.edge.attribute)
importFrom(igraph, layout.davidson.harel, layout.drl, layout.circle, layout.fruchterman.reingold, layout.gem, layout.grid, layout.kamada.kawai)
importFrom(igraph, layout.lgl, layout.mds, layout.random, layout.reingold.tilford, layout.star, layout.sugiyama)
importFrom(igraph, cluster_edge_betweenness, cluster_fast_greedy, cluster_label_prop, cluster_leading_eigen)
importFrom(igraph, cluster_louvain, cluster_optimal, cluster_spinglass, cluster_walktrap, membership)
importFrom(Matrix, Matrix, diag)
importFrom(haven, as_factor)
